{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div id="chartDiv" style="height: 500px;"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let contextData = JSON.parse('{{ context_json|safe }}');
      let profitList = contextData.profit_list;
      let openingTimeList = contextData.opening_time_list;

      let margin = { top: 20, right: 20, bottom: 30, left: 50 };
      let chartWidth = 4000 - margin.left - margin.right;
      let chartHeight = 300 - margin.top - margin.bottom;

      let chart = am4core.create("chartDiv", am4charts.XYChart);
      chart.height = 500;

      let percentageTotalBalance = profitList.map((balance) => (balance / profitList[profitList.length - 1]) * 100);

      chart.data = openingTimeList.map((openingTime, index) => ({
        category: openingTime,
        percentage: percentageTotalBalance[index]
      }));

      let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "category";

      let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

      let series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = "percentage";
      series.dataFields.categoryX = "category";
      series.strokeWidth = 2;
      series.stroke = am4core.color("#1f77b4");

      chart.legend = new am4charts.Legend();

      let scrollbarX = new am4core.Scrollbar();
      chart.scrollbarX = scrollbarX;

      // Enable tooltips
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomXY";
      chart.cursor.snapToSeries = [series];

      let drawChart = () => {
        chart.invalidateSize();
      };

      drawChart();
    });
  </script>
{% endblock %}
