{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h5>Graph</h5>
                <hr>
                <canvas id="myChart"></canvas>
                <input type="range" id="dataRange" class="form-range" min="0" max="{{ context_json.profit_list|length }}" step="1">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let ctx = document.getElementById('myChart').getContext('2d');
            let contextData = JSON.parse('{{ context_json|safe }}');
            let profitList = contextData.profit_list;
            let openingTimeList = contextData.opening_time_list;
            let startingBalance = 100;
            let totalBalance = [startingBalance];
            let averageBalance = [startingBalance];

            for (let i = 0; i < profitList.length; i++) {
              let currentBalance = totalBalance[i] + profitList[i];
              totalBalance.push(currentBalance);

              let sum = totalBalance.reduce((acc, val) => acc + val, 0);
              let average = sum / (i + 1);
              averageBalance.push(average);
            }

            let myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: openingTimeList,
                datasets: [
                  {
                    label: 'Total Balance',
                    data: totalBalance, 
                    borderColor: 'blue',
                    fill: false
                  },
                  {
                    label: 'Average Balance',
                    data: averageBalance,
                    borderColor: 'green',
                    fill: false
                  }
                ]
              },
              options: {
                responsive: true,
                scales: {
                  x: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Opening Time'
                    }
                  },
                  y: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Balance'
                    }
                  }
                },
                plugins: {
                  zoom: {
                    zoom: {
                      wheel: {
                        enabled: true
                      },
                      pinch: {
                        enabled: true
                      },
                      mode: 'xy',
                      speed: 0.1
                    },
                    pan: {
                      enabled: true,
                      mode: 'xy',
                      speed: 0.1
                    },
                  }
                },
                interaction: {
                  mode: 'nearest',
                  intersect: false,
                },
                onHover: function(event, chartElement) {
                  event.target.style.cursor = chartElement[0] ? 'move' : 'default';
                }
              }
            });

            let dataRange = document.getElementById('dataRange');
            dataRange.addEventListener('input', function() {
              let newDataLength = parseInt(this.value);
              myChart.data.datasets[0].data = totalBalance.slice(0, newDataLength);
              myChart.data.datasets[1].data = averageBalance.slice(0, newDataLength);
              myChart.update();
            });
        });
    </script>
{% endblock %}