{% extends 'base.html' %}
{% block style %}
  <style>
    .chartWrapper {
        position: relative;
    }
    
    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events:none;
    }
    
    .chartAreaWrapper {
        width: 15000px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row chartWrapper">
            <div class="col-lg-12 chartAreaWrapper">
                <h5>Graph</h5>
                <hr>
                <canvas id="myChart"  ></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let ctx = document.getElementById('myChart').getContext('2d');
            let contextData = JSON.parse('{{ context_json|safe }}');
            let profitList = contextData.profit_list;
            let openingTimeList = contextData.opening_time_list;
            let startingBalance = 100;
            let totalBalance = [startingBalance];
            let averageBalance = [startingBalance];

            for (let i = 0; i < profitList.length; i++) {
              let currentBalance = totalBalance[i] + profitList[i];
              totalBalance.push(currentBalance);

              let sum = totalBalance.reduce((acc, val) => acc + val, 0);
              let average = sum / (i + 1);
              averageBalance.push(average);
            }

            let myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: openingTimeList,
                datasets: [
                  {
                    label: 'Total Balance',
                    data: totalBalance, 
                    borderColor: 'blue',
                    fill: false
                  },
                  {
                    label: 'Average Balance',
                    data: averageBalance,
                    borderColor: 'green',
                    fill: false
                  }
                ]
              },
              options: {
                responsive: true,
                scales: {
                  x: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Opening Time'
                    }
                  },
                  y: {
                    display: true,
                    title: {
                      display: true,
                      text: 'Balance'
                    }
                  }
                },
                plugins: {
                  zoom: {
                    zoom: {
                      wheel: {
                        enabled: true
                      },
                      mode: 'xy',
                      speed: 0.1
                    },
                    
                  }
                },
                interaction: {
                  mode: 'nearest',
                  intersect: false,
                },
                
              }
            });
        });
    </script>
{% endblock %}