{% extends 'base.html' %}
{% block style %}
  <style>
    .chartWrapper {
        position: relative;
    }
    
    .chartWrapper > svg {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .chartAreaWrapper {
        width: 1200px;
        height: 500px;
        overflow: auto;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row chartWrapper">
            <div class="col-lg-12 chartAreaWrapper">
                <h5>Graph</h5>
                <hr>
                <div id="chartContainer">
                    <svg id="myChart"></svg>
                </div>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let contextData = JSON.parse('{{ context_json|safe }}');
            let profitList = contextData.profit_list;
            let openingTimeList = contextData.opening_time_list;
            let startingBalance = 100;
            let totalBalance = [startingBalance];
            let averageBalance = [startingBalance];

            for (let i = 0; i < profitList.length; i++) {
              let currentBalance = totalBalance[i] + profitList[i];
              totalBalance.push(currentBalance);

              let sum = totalBalance.reduce((acc, val) => acc + val, 0);
              let average = sum / (i + 1);
              averageBalance.push(average);
            }

            const margin = { top: 20, right: 20, bottom: 30, left: 50 };
            const width = 9000 - margin.left - margin.right;
            const height = 400 - margin.top - margin.bottom;

            const svg = d3.select('#myChart')
              .attr('width', width + margin.left + margin.right)
              .attr('height', height + margin.top + margin.bottom)
              .append('g')
              .attr('transform', `translate(${margin.left},${margin.top})`);

            const xScale = d3.scalePoint()
              .domain(openingTimeList)
              .range([0, width]);

            const yScale = d3.scaleLinear()
              .domain([0, d3.max(totalBalance)])
              .range([height, 0]);

            const line = d3.line()
              .defined((d) => !isNaN(d))
              .x((d, i) => xScale(openingTimeList[i]))
              .y((d) => yScale(d));

            svg.append('path')
              .datum(totalBalance)
              .attr('fill', 'none')
              .attr('stroke', 'blue')
              .attr('d', line);

            svg.append('path')
              .datum(averageBalance)
              .attr('fill', 'none')
              .attr('stroke', 'green')
              .attr('d', line);

            svg.append('g')
              .attr('transform', `translate(0,${height})`)
              .call(d3.axisBottom(xScale));

            svg.append('g')
              .call(d3.axisLeft(yScale));

            d3.select('#chartContainer').node().scrollLeft = width;

        });
    </script>
{% endblock %}
