{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username }}
                        {% if form.errors.username %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.username %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">First Name</label>
                        {{ form.first_name }}
                        {% if form.errors.first_name %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.first_name %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        {{ form.last_name }}
                        {% if form.errors.last_name %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.last_name %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        {{ form.email }}
                        {% if form.errors.email %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.email %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Password</label>
                        {{ form.password1 }}
                        {% if form.errors.password1 %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.password1 %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Repeat Password</label>
                        {{ form.password2 }}
                        {% if form.errors.password2 %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.errors.password2 %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="mb-3 btn btn-lg btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
