{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center">Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {% if form %}
                            {{ form.username }}
                            {% if form.errors.username %}
                            {% for error in form.errors.password2 %}
                            {% if error != 'This field is required.' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_first_name" class="form-label">First Name</label>
                        {% if form %}
                            {{ form.first_name }}
                            {% if form.errors.first_name %}
                            {% for error in form.errors.password2 %}
                            {% if error != 'This field is required.' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        {% if form %}
                            {{ form.last_name }}
                            {% if form.errors.last_name %}
                            {% for error in form.errors.password2 %}
                            {% if error != 'This field is required.' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        {% if form %}
                            {{ form.email }}
                            {% if form.errors.email %}
                            {% for error in form.errors.password2 %}
                            {% if error != 'This field is required.' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Password</label>
                        {% if form %}
                            {{ form.password1 }}
                            {% if form.errors.password1 %}
                                {% for error in form.errors.password2 %}
                                    {% if error != 'This field is required.' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label">Repeat Password</label>
                        {% if form %}
                            {{ form.password2 }}
                            {% if form.errors.password2 %}
                                {% for error in form.errors.password2 %}
                                    {% if error != 'This field is required.' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="mb-3 btn btn-lg btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
