{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="big-box" onclick="showForm()">
                <div class="box-content">
                    Create User
                </div>
                <div class="overlay"></div>
            </div>
            <form id="myForm" method="post" enctype="multipart/form-data" class="hidden">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="user_name" class="form-label">User's Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter User's Name" required>
                </div>
                {% if file_exists %}
                <div class="mb-3 alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>File Already Uploaded!</strong> The selected file is already uploaded. Please choose a different file or rename the existing file.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="excel_file" class="form-label">Choose Excel File (.xlsx)</label>
                    <input type="file" class="form-control" id="excel_file" name="excel_file" accept=".xlsx" required>
                    {% if form.excel_file.errors %}
                        <div class="text-danger">{{ form.excel_file.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}