{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <!----------------------------- Code for Balance Growth Chart ------------------------------------->
      <h2>{{ user.name }} Data</h2>
      <hr>
      <div class="graph-container">
          <h3>Balance Growth</h3>
          <div id="chartDiv1" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Balance Growth ------------------------------------>

    <!----------------------------- Code for Percentage Growth Chart ---------------------------------->
      <div class="graph-container">
          <h3>Percentage Balance</h3>
          <div id="chartDiv2" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Percentage Growth --------------------------------->

    <!----------------------------- Code for Monthly / Yearly Stats ----------------------------------->
      <div class="monthly-stats-container">
          <div class="container mt-5">
              <h2>Monthly Stats</h2>
              <hr>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Month</th>
                          <th>Profit</th>
                          <th>Percentage</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Monthly data will be dynamically added here -->
                  </tbody>
              </table>
          </div>
          <div class="container mt-5">
              <h2>Yearly Stats</h2>
              <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Profit</th>
                      <th>Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Yearly data will be dynamically added here -->
                  </tbody>
                </table>
            </div>
        </div>
    <!-------------------------- End of Code for Monthly / Yearly Stats ------------------------------->
  </div>
  <script>
    var contextJson = JSON.parse('{{ context_json|safe }}');
  </script>  
  <script type="text/javascript" src="{% static 'js/user_data/balance_growth.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/user_data/percentage_growth.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/user_data/month_year_stats.js' %}"></script>
{% endblock %}

<!-------------------------- End of File ------------------------------->