{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <!----------------------------- Code for Balance Growth Chart ------------------------------------->
      <h2>{{ user.name }} Data</h2>
      <hr>
      <div class="graph-container">
          <h3>Balance Growth</h3>
          <div id="chartDiv1" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Balance Growth ------------------------------------>

    <!----------------------------- Code for Percentage Growth Chart ---------------------------------->
      <div class="graph-container">
          <h3>Percentage Balance</h3>
          <div id="chartDiv2" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Percentage Growth --------------------------------->

    <!----------------------------- Code for Monthly / Yearly Stats ----------------------------------->
      <div class="monthly-stats-container">
          <div class="container mt-5">
              <h2>Monthly Stats</h2>
              <hr>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Month</th>
                          <th>Percentage</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Monthly data will be dynamically added here -->
                  </tbody>
              </table>
          </div>
          <div class="container mt-5">
              <h2>Yearly Stats</h2>
              <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Yearly data will be dynamically added here -->
                  </tbody>
                </table>
            </div>
        </div>
    <!-------------------------- End of Code for Monthly / Yearly Stats ------------------------------->
  </div>
  <script>
    var contextJson = JSON.parse('{{ context_json|safe }}');
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      initializeChart();
    
      function initializeChart() {
        let contextData = contextJson;
        let profitList = contextData.profit_list;
        let netProfitList = contextData.net_profit_list;
        let typeList = contextData.type_list;
        let openingTimeList = contextData.time_list;
        let totalBalance = [profitList[0]];
        let currentBalance = 0;
        let withdrawalList = [];
        let depositList = [];
    
        for (let i = 0; i < profitList.length; i++) {
          if (i !== 0 && typeList[i] !== "Balance") {
            currentBalance = totalBalance[i - 1] + netProfitList[i];
            totalBalance.push(currentBalance);
          } else if (i !== 0 && typeList[i] === "Balance") {
            currentBalance = totalBalance[i - 1] + profitList[i];
            totalBalance.push(currentBalance);
    
            // Check for withdrawal or deposit
            if (profitList[i] < 0) {
              withdrawalList.push({
                category: openingTimeList[i],
                value: profitList[i],
              });
            } else if (profitList[i] > 0) {
              depositList.push({
                category: openingTimeList[i],
                value: profitList[i],
              });
            }
          }
        }
    
        let averageBalance = totalBalance.map((balance, index) => {
          let sum = totalBalance.slice(0, index + 1).reduce((acc, val) => acc + val, 0);
          return sum / (index + 1);
        });
    
        am4core.useTheme(am4themes_animated);
    
        let chart = am4core.create("chartDiv1", am4charts.XYChart);
        chart.width = am4core.percent(100);
        chart.height = am4core.percent(100);
    
        // Set chart data
        chart.data = openingTimeList.map((openingTime, index) => ({
          category: openingTime,
          balance: totalBalance[index],
          average: averageBalance[index],
          type: typeList[index],
          profit: profitList[index],
        }));
    
        // Create category axis
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
    
        // Create value axis
        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    
        // Create balance series
        let balanceSeries = chart.series.push(new am4charts.LineSeries());
        balanceSeries.dataFields.valueY = "balance";
        balanceSeries.dataFields.categoryX = "category";
        balanceSeries.tooltipText = "Balance: {balance}\nTime: {category}";
        balanceSeries.strokeWidth = 2;
        balanceSeries.minBulletDistance = 15;
        balanceSeries.stroke = am4core.color("#1f77b4");
    
        var bullet = balanceSeries.bullets.push(new am4charts.CircleBullet());
        bullet.circle.strokeWidth = 2;
        bullet.circle.radius = 4;
        bullet.circle.fill = am4core.color("#fff");
        var bullethover = bullet.states.create("hover");
        bullethover.properties.scale = 1;
    
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.xAxis = categoryAxis;
        chart.cursor.snapToSeries = balanceSeries;
    
        // Create a horizontal scrollbar
        let scrollbarX = new am4core.Scrollbar();
        chart.scrollbarX = scrollbarX;
    
        // Create average series
        let averageSeries = chart.series.push(new am4charts.LineSeries());
        averageSeries.dataFields.valueY = "average";
        averageSeries.dataFields.categoryX = "category";
        averageSeries.tooltipText = "Average: {average}\nTime: {category}";
        averageSeries.strokeWidth = 2;
        averageSeries.stroke = am4core.color("#ff7f0e");
        averageSeries.yAxis = valueAxis; // Set the yAxis for averageSeries
    
        // Drop-shaped tooltips
        balanceSeries.tooltip.background.cornerRadius = 20;
        balanceSeries.tooltip.background.strokeOpacity = 0;
        balanceSeries.tooltip.pointerOrientation = "vertical";
        balanceSeries.tooltip.label.minWidth = 40;
        balanceSeries.tooltip.label.minHeight = 40;
        balanceSeries.tooltip.label.textAlign = "middle";
        balanceSeries.tooltip.label.textValign = "middle";
    
        // Drop-shaped tooltips
        averageSeries.tooltip.background.cornerRadius = 20;
        averageSeries.tooltip.background.strokeOpacity = 0;
        averageSeries.tooltip.pointerOrientation = "vertical";
        averageSeries.tooltip.label.minWidth = 40;
        averageSeries.tooltip.label.minHeight = 40;
        averageSeries.tooltip.label.textAlign = "middle";
        averageSeries.tooltip.label.textValign = "middle";
    
        chart.legend = new am4charts.Legend();
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.snapToSeries = [balanceSeries, averageSeries];
        let uniqueDates = Array.from(new Set(openingTimeList));
        console.log(uniqueDates);
        // Calculate the width of each category cell
        let categoryCellWidth = categoryAxis.innerWidth / (uniqueDates.length + 3);
        console.log(categoryCellWidth);
        // Create withdrawal markers
        for (let withdrawal of withdrawalList) {
          let marker = chart.plotContainer.createChild(am4core.Triangle);
          marker.width = 10;
          marker.height = 10;
          marker.horizontalCenter = "middle";
          marker.verticalCenter = "top";
          marker.rotation = 180; // Pointing upwards
          marker.stroke = am4core.color("#f00");
          marker.fill = am4core.color("#f00");
          marker.dy = 10;
          marker.tooltipText = "Withdrawal: " + withdrawal.value + "\nTime: " + withdrawal.category;
          marker.isMeasured = false;

          // Find the index of the category value in the openingTimeList
          let categoryIndex = uniqueDates.indexOf(withdrawal.category);

          // Calculate the x-position of the marker based on the index and category cell width
          let xPosition = categoryAxis.start + categoryIndex * categoryCellWidth;
          console.log(xPosition);
          marker.x = xPosition;
        }
    
        // Create deposit markers
        for (let deposit of depositList) {
          let marker = chart.plotContainer.createChild(am4core.Triangle);
          marker.width = 10;
          marker.height = 10;
          marker.horizontalCenter = "middle";
          marker.verticalCenter = "top";
          marker.rotation = 0;
          marker.stroke = am4core.color("#0f0");
          marker.fill = am4core.color("#0f0");
          marker.dy = 10;
          marker.tooltipText = "Deposit: " + deposit.value + "\nTime: " + deposit.category;
          marker.isMeasured = false;

          // Find the index of the category value in the openingTimeList
          let categoryIndex = uniqueDates.indexOf(deposit.category);
          console.log(categoryIndex);
          // Calculate the x-position of the marker based on the index and category cell width
          let xPosition = categoryAxis.start + categoryIndex * categoryCellWidth;
          marker.x = xPosition;
        }
      }
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      initializeChart();
      function initializeChart() {
          let contextData = contextJson;
          let profitList = contextData.profit_list;
          let typeList = contextData.type_list;
          let netProfitList = contextData.net_profit_list;
          let openingTimeList = contextData.time_list;
          let totalBalance = [profitList[0]];
          let percentageTotalBalance = [];
          let percentage = 1;
          
          let chart = am4core.create("chartDiv2", am4charts.XYChart);
          chart.height = am4core.percent(100);

          for (let i = 0; i < profitList.length; i++) {
              let currentBalance;
              if (i !== 0 && typeList[i] !== "Balance") {
                  currentBalance = totalBalance[i - 1] + netProfitList[i];
                  totalBalance.push(currentBalance);
                }
                else if(i !== 0 && typeList[i] === "Balance") {
                  currentBalance = totalBalance[i - 1] + profitList[i];
                  totalBalance.push(currentBalance);
                }

              if (i !== 0) {
                  result = ((currentBalance - totalBalance[i-1]) / totalBalance[i-1]) * 100;
                  result = (result / 100) +1;
                  percentage *= result;
              }
              let newpercent = (percentage - 1) * 100;
              percentageTotalBalance.push(newpercent);
          }

          chart.data = openingTimeList.map((openingTime, index) => ({
              category: openingTime,
              percentage: percentageTotalBalance[index]
          }));

          let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
          categoryAxis.dataFields.category = "category";

          let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

          let series = chart.series.push(new am4charts.LineSeries());
          series.dataFields.valueY = "percentage";
          series.dataFields.categoryX = "category";
          series.tooltipText = "Percentage: {percentage}%\nTime: {category}";
          series.strokeWidth = 2;
          series.stroke = am4core.color("#1f77b4");

          // Drop-shaped tooltips
          series.tooltip.background.cornerRadius = 20;
          series.tooltip.background.strokeOpacity = 0;
          series.tooltip.pointerOrientation = "vertical";
          series.tooltip.label.minWidth = 40;
          series.tooltip.label.minHeight = 40;
          series.tooltip.label.textAlign = "middle";
          series.tooltip.label.textValign = "middle";
      
          chart.legend = new am4charts.Legend();

          let scrollbarX = new am4core.Scrollbar();
          chart.scrollbarX = scrollbarX;

          // Enable tooltips
          chart.cursor = new am4charts.XYCursor();
          chart.cursor.behavior = "zoomXY";
          chart.cursor.snapToSeries = [series];
      }
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let contextData = contextJson;
      let profitList = contextData.profit_list;
      let netProfitList = contextData.net_profit_list;
      let typeList = contextData.type_list;
      let openingTimeList = contextData.time_list;
      let totalBalance = [profitList[0]];
      let monthlyData = {};
      let yearlyData = {};
      let currentBalance = 0;
    
      for (let i = 0; i < profitList.length; i++) {
        if (i !== 0 && typeList[i] !== "Balance") {
          currentBalance = totalBalance[i - 1] + netProfitList[i];
          totalBalance.push(currentBalance);
        }
        else if(i !== 0 && typeList[i] === "Balance") {
          currentBalance = totalBalance[i - 1] + profitList[i];
          totalBalance.push(currentBalance);
        }
      }
      let year =0;
      for (let i = 0; i < openingTimeList.length; i++) {
        let dateComponents = openingTimeList[i].split('-');
        let month = dateComponents[1];
        year = dateComponents[0];
        let currentBalance = totalBalance[i];
        let monthYear = month + '-' + year;
        
        
        if (monthYear in monthlyData) {
          if (i < openingTimeList.length - 2 && month === openingTimeList[i+1].split('-')[1] && typeList[i+1] === "Balance"){
            let result = ((currentBalance - monthlyData[monthYear].initialValue) / monthlyData[monthYear].initialValue) *100;
            result = (result / 100) +1;
            monthlyData[monthYear].iterator *= result;
          }
          else if (typeList[i] === "Balance"){
            monthlyData[monthYear].initialValue = currentBalance;
          }
          monthlyData[monthYear].finalValue = currentBalance;
        } else {
          monthlyData[monthYear] = {
            initialValue: currentBalance,
            finalValue: 0,
            iterator: 1
          };
        }
      }
    
      let yearlyPercentage = 1;
      // Calculate the percentage growth for each month
      let monthlyTableBody = document.querySelector('tbody');
      let monthYearArray = Object.keys(monthlyData);
      for (let i = 0; i < monthYearArray.length; i++) {
        let monthYear = monthYearArray[i];
        let [month, year] = monthYear.split('-');
        let initialValue = monthlyData[monthYear].initialValue;
        let finalValue = monthlyData[monthYear].finalValue;
        let iterator = monthlyData[monthYear].iterator;
        let percentageOfMonth = 0;
        let result = 0;
    
        if (initialValue !== 0) {
          result = ((finalValue - initialValue) / initialValue) * 100;
          result = (result / 100) +1;
          iterator *= result;
          percentageOfMonth = (iterator - 1) * 100;
          yearlyPercentage *= (percentageOfMonth/100) +1;
        }
    
        let row = document.createElement('tr');
        let yearMonthCell = document.createElement('td');
        let percentageOfMonthCell = document.createElement('td');
    
        yearMonthCell.textContent = year + '-' + month;
        percentageOfMonthCell.textContent = percentageOfMonth.toFixed(2) + '%';
    
        row.appendChild(yearMonthCell);
        row.appendChild(percentageOfMonthCell);
    
        monthlyTableBody.appendChild(row);
      }
    
      // Create yearly data array
      let yearlyTableBody = document.querySelectorAll('tbody')[1];
        yearlyPercentage = (yearlyPercentage - 1)*100;
        let row = document.createElement('tr');
    
        let yearCell = document.createElement('td');
        yearCell.textContent = year;
    
        let percentageCell = document.createElement('td');
        percentageCell.textContent = yearlyPercentage.toFixed(2) + '%';
    
        row.appendChild(yearCell);
        row.appendChild(percentageCell);
    
        yearlyTableBody.appendChild(row);
    });
  </script>
{% endblock %}

<!-------------------------- End of File ------------------------------->