{% extends 'base.html' %}

{% block styles %}
  <style>
    .amcharts-graph-balanceseries .amcharts-graph-stroke {
        stroke: #1f77b4;
        stroke-width: 2px;
    }

    .amcharts-graph-averageseries .amcharts-graph-stroke {
        stroke: #ff7f0e;
        stroke-width: 2px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <!----------------------------- Code for Balance Growth Chart ------------------------------------->
      <h2>{{ user.name }} Data</h2>
      <hr>
      <div class="graph-container">
          <h3>Balance Growth</h3>
          <div id="chartDiv1" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Balance Growth ------------------------------------>

    <!----------------------------- Code for Percentage Growth Chart ---------------------------------->
      <div class="graph-container">
          <h3>Percentage Balance</h3>
          <div id="chartDiv2" style="width: 100%; height: calc(100vh - 100px);"></div>
      </div>
      <hr>
    <!----------------------------- End of Code for Percentage Growth --------------------------------->

    <!----------------------------- Code for Monthly / Yearly Stats ----------------------------------->
      <div class="monthly-stats-container">
          <div class="container mt-5">
              <h2>Monthly Stats</h2>
              <hr>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Month</th>
                          <th>Profit</th>
                          <th>Percentage</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Monthly data will be dynamically added here -->
                  </tbody>
              </table>
          </div>
          <div class="container mt-5">
              <h2>Yearly Stats</h2>
              <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Profit</th>
                      <th>Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Yearly data will be dynamically added here -->
                  </tbody>
                </table>
            </div>
        </div>
    <!-------------------------- End of Code for Monthly / Yearly Stats ------------------------------->
  </div>

  <script>
    /* JavaScript code for graph.html */
    document.addEventListener('DOMContentLoaded', function() {
        let contextData = JSON.parse('{{ context_json|safe }}');
        let profitList = contextData.profit_list;
        let typeList = contextData.type_list;
        let openingPriceList = contextData.opening_price_list;
        let openingTimeList = contextData.opening_time_list;
        let totalBalance = [profitList[0]];
        let averageBalance = [profitList[0]];

        let chart = am4core.create("chartDiv1", am4charts.XYChart);
        chart.width = am4core.percent(100);
        chart.height = am4core.percent(100);

        for (let i = 0; i < profitList.length; i++) {
          if(i != 0){
            let currentBalance = totalBalance[i-1] + profitList[i];
            totalBalance.push(currentBalance);
          }
            let sum = totalBalance.reduce((acc, val) => acc + val, 0);
            let average = sum / (i + 1);
            averageBalance.push(average);
          }
    
          chart.data = openingTimeList.map((openingTime, index) => ({
            category: openingTime,
            balance: totalBalance[index],
            average: averageBalance[index],
            type: typeList[index],
            profit: profitList[index], 
          }));
    
          let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
          categoryAxis.dataFields.category = "category";
    
          let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    
          let balanceSeries = chart.series.push(new am4charts.LineSeries());
          balanceSeries.dataFields.valueY = "balance";
          balanceSeries.dataFields.categoryX = "category";
          balanceSeries.strokeWidth = 2;
          balanceSeries.stroke = am4core.color("#1f77b4");
          
          balanceSeries.propertyFields.stroke = function(dataItem) {
            if (dataItem.type === "Balance" && dataItem.profit < 0) {
              console.log(dataItem.type);
              console.log(dataItem.profit);
              return am4core.color("#8B0000"); // Dark red color
            } else if (dataItem.type === "Balance" && dataItem.profit > 0) {
              console.log(dataItem.type);
              console.log(dataItem.profit);
              return am4core.color("#00008B"); // Dark blue color
            } else {
              return balanceSeries.stroke; // Use default color
            }
          };

          let averageSeries = chart.series.push(new am4charts.LineSeries());
          averageSeries.dataFields.valueY = "average";
          averageSeries.dataFields.categoryX = "category";
          averageSeries.strokeWidth = 2;
          averageSeries.stroke = am4core.color("#ff7f0e");
    
          chart.legend = new am4charts.Legend();
    
          let scrollbarX = new am4core.Scrollbar();
          chart.scrollbarX = scrollbarX;
    
          // Enable tooltips
          chart.cursor = new am4charts.XYCursor();
          chart.cursor.behavior = "zoomXY";
          chart.cursor.snapToSeries = [balanceSeries, averageSeries];

    });
  </script>

  <script>
    /* JavaScript code for graph2.html */
    document.addEventListener('DOMContentLoaded', function() {
        let contextData = JSON.parse('{{ context_json|safe }}');
        let profitList = contextData.profit_list;
        let openingTimeList = contextData.opening_time_list;
        let totalBalance = [profitList[0]];
        let percentageTotalBalance = [];
        
        let chart = am4core.create("chartDiv2", am4charts.XYChart);
        chart.height = am4core.percent(100);

        for (let i = 0; i < profitList.length; i++) {
          let percentage = 0;
          let currentBalance;
          if(i !== 0){
            currentBalance = totalBalance[i-1] + profitList[i];
            totalBalance.push(currentBalance);
          }

          if (i !== 0) {
            percentage = ((currentBalance - totalBalance[i-1]) / totalBalance[i-1]) * 100;
          }
        percentageTotalBalance.push(percentage);
        }
        console.log(percentageTotalBalance);
        
        chart.data = openingTimeList.map((openingTime, index) => ({
            category: openingTime,
            percentage: percentageTotalBalance[index]
        }));

        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        let series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "percentage";
        series.dataFields.categoryX = "category";
        series.strokeWidth = 2;
        series.stroke = am4core.color("#1f77b4");

        chart.legend = new am4charts.Legend();

        let scrollbarX = new am4core.Scrollbar();
        chart.scrollbarX = scrollbarX;

        // Enable tooltips
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "zoomXY";
        chart.cursor.snapToSeries = [series];

    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let contextData = JSON.parse('{{ context_json|safe }}');
      let profitList = contextData.profit_list;
      let openingTimeList = contextData.opening_time_list;
      let totalBalance = [profitList[0]];
  
      for (let i = 0; i < profitList.length; i++) {
        if (i !== 0) {
          let currentBalance = totalBalance[i - 1] + profitList[i];
          totalBalance.push(currentBalance);
        }
      }
  
      let monthlyData = {};
      let yearlyData = {};
      let totalProfit = 0;
  
      for (let i = 0; i < openingTimeList.length; i++) {
        let dateComponents = openingTimeList[i].split('-');
        let month = dateComponents[1];
        let year = dateComponents[0];
        let profit = profitList[i];
        let currentBalance = totalBalance[i];
        let monthYear = month + '-' + year;
        
        if (monthYear in monthlyData) {
          monthlyData[monthYear].finalValue = currentBalance;
        } else {
          monthlyData[monthYear] = {
            initialValue: currentBalance,
            finalValue: 0
          };
        }
  
        // Update yearly data
        if (year in yearlyData) {
          yearlyData[year] += profit;
        } else {
          yearlyData[year] = profit;
        }
  
        totalProfit += profit;
      }
  
      // Calculate the percentage growth for each month
      let monthlyTableBody = document.querySelector('tbody');
      let monthYearArray = Object.keys(monthlyData);
      for (let i = 0; i < monthYearArray.length; i++) {
        let monthYear = monthYearArray[i];
        let [month, year] = monthYear.split('-');
        let initialValue = monthlyData[monthYear].initialValue;
        let finalValue = monthlyData[monthYear].finalValue;
        let profitOfMonth = 0;
        let percentageOfMonth = 0;

        if (initialValue !== 0) {
          percentageOfMonth = ((finalValue - initialValue) / initialValue) * 100;
          profitOfMonth = finalValue - initialValue;
        }
  
        let row = document.createElement('tr');
        let yearMonthCell = document.createElement('td');
        let profitOfMonthCell = document.createElement('td');
        let percentageOfMonthCell = document.createElement('td');

        yearMonthCell.textContent = year + '-' + month;
        profitOfMonthCell.textContent = profitOfMonth;
        percentageOfMonthCell.textContent = percentageOfMonth.toFixed(2) + '%';
  
        row.appendChild(yearMonthCell);
        row.appendChild(profitOfMonthCell);
        row.appendChild(percentageOfMonthCell);
  
        monthlyTableBody.appendChild(row);
      }
  
      // Create yearly data array
      let yearlyTableBody = document.querySelectorAll('tbody')[1];
      for (let year in yearlyData) {
        let profit = yearlyData[year];
        let percentage = ((profit / totalProfit) * 100).toFixed(2);
  
        let row = document.createElement('tr');
  
        let yearCell = document.createElement('td');
        yearCell.textContent = year;
  
        let profitCell = document.createElement('td');
        profitCell.textContent = profit;
  
        let percentageCell = document.createElement('td');
        percentageCell.textContent = percentage + '%';
  
        row.appendChild(yearCell);
        row.appendChild(profitCell);
        row.appendChild(percentageCell);
  
        yearlyTableBody.appendChild(row);
      }
    });
  </script>
  

{% endblock %}

<!-------------------------- End of File ------------------------------->